<div class="container p-3 mb-5   rounded mt-5">
  <div class="p-3">
    <div class="row">
      <div class="col-4">
        <input type="text" class="form-control" placeholder="Search task.." [(ngModel)]="Search">
      </div>
      <div class="col-3 offset-5 pt-1">
        <button type="button" class="btn btn-sm btn-dark fs-6" [routerLink]="['/form']">+ New Task</button>
      </div>
    </div>
    <table class="table mt-3 custom-table">
      <thead>
        <tr class="fs-5">
          <td colspan="6" class="text-center text-white bg-primary">
            TASK INFORMATION

          </td>
        </tr>
        <tr class="fs-5">
          <th scope="col" class="border-left-right border-primary-subtle">Id</th>
          <th scope="col" class="border-left-right border-primary-subtle">Title</th>
          <th scope="col" class="border-left-right border-primary-subtle">Description</th>
          <th scope="col" class="border-left-right border-primary-subtle">DueDate</th>
          <th scope="col" class="border-left-right border-primary-subtle">Priority</th>
          <th scope="col" class="border-left-right border-primary-subtle">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Tasks | taskFilter : Search" class="fs-5 ">
          <th scope="row" class="border-left-right fw-normal ">{{item.id}}</th>
          <th scope="row" class="border-left-right fw-normal">{{item.title}}</th>
          <th scope="row" class="border-left-right fw-normal">{{item.description}}</th>
          <th scope="row" class="border-left-right fw-normal">{{item.duedate | date:'dd-MM-yyyy'}}</th>
          <th scope="row" class="border-left-right fw-bold"
            [ngStyle]="{'color': item.priority === 'High' ? 'green' : item.priority==='Medium' ? 'orange' : 'red' }">
            {{item.priority}}</th>
          <th scope="row" class="border-left-right fw-normal"><button class="btn tableButton"><i
                class="bi bi-pencil-square text-primary fs-4" (click)=" editTask(item.id)"></i></button><button
              class="btn tableButton" (click)="DeleteTask(item.id)"><i class="bi bi-x-lg text-danger fs-4"></i></button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

</div>