<div class="container">
    <div class="row">
        <div class="col-5 offset-4 mt-5">
            <form style="width: 400px;" [formGroup]="TaskForm">
                <h3 class="text-danger">Add New Task</h3>
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" formControlName="Title">
                </div>
                <div class="mb-3">
                    <label class="form-label" >Description</label>
                    <input type="text" class="form-control" formControlName="describe">
                </div>
                <div class="mb-3">
                    <label class="form-label">DueDate</label>
                    <input type="date" class="form-control" formControlName="DueDate">
                </div>
                <div class="mb-3">
                    <label class="form-label">Priority</label><br>
                    <select name="Priority" class="form-control" formControlName="Priority">
                        <option value="">Select Your Priority</option>
                        <option value="1">High</option>
                        <option value="1">Medium</option>
                        <option value="1">Low</option>
                    </select>
                </div>
        
                <button type="submit" class="btn btn-primary btn-sm me-3">Submit</button>
                <button type="submit" class="btn btn-secondary btn-sm">Cancel</button>
            </form>
        </div>
    </div>
 
</div>