<div style="background-color:rgba(147, 143, 143, 0.123); min-height: 100vh;">
    <!-- As a link -->
    <nav class="navbar bg-dark">
        <div class="container">
            <div>
                <h3 class="text-light">Tasks Manager</h3>
            </div>
            <div>
                <a class="navbar-brand text-light" [routerLink]="['user']">Users</a>
                <a class="navbar-brand text-light" [routerLink]="['/']">Tasks</a>
            </div>
        </div>
    </nav>


    <router-outlet></router-outlet>
</div>