<div class="container">
    <div class="row">
        <div class="col-9 offset-3 my-5">
            <form style="width: 500px;" [formGroup]="userForm" (ngSubmit)="FormSubmited(userForm)" class="shadow p-3  bg-light rounded">
                <h3 class="text-danger">{{title}}</h3>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control p-2" formControlName="name">
                    <div class="" *ngIf="userForm.controls['name'].touched">
                        <p class="text-danger" *ngIf="userForm.controls['name'].hasError('required')">This Field is required</p>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" >Email</label>
                    <input type="email" class="form-control p-2" formControlName="email" email>
                    <div class="" *ngIf="userForm.controls['email'].touched">
                        <p class="text-danger" *ngIf="userForm.controls['email'].hasError('required')">This Field is required</p>

                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" >Password</label>
                    <input type="password" class="form-control p-2" formControlName="password" email>
                    <div class="" *ngIf="userForm.controls['password'].touched">
                        <p class="text-danger" *ngIf="userForm.controls['password'].hasError('required')">This Field is required</p>

                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone-no</label>
                    <input type="text" class="form-control p-2" formControlName="phoneNumber" date> 
                    <div class="" *ngIf="userForm.controls['phoneNumber'].touched">
                        <p class="text-danger" *ngIf="userForm.controls['phoneNumber'].hasError('required')">This Field is required</p>
                    </div>
                </div>
                <h3 class="text-danger">Address Information</h3>
                <div formGroupName="address">
                    <div class="mb-3">
                        <label class="form-label ">AddressLine1</label>
                        <input type="text" class="form-control p-2" formControlName="addressLine1" > 
                        <div class="" *ngIf="userForm.get('address.addressLine1')?.touched">
                            <p class="text-danger" *ngIf="userForm.get('address.addressLine1')?.hasError('required')">This Field is required</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">AddressLine2</label>
                        <input type="text" class="form-control p-2" formControlName="addressLine2" > 
                    </div>
                    <div class="">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control p-2" formControlName="city" > 
                        <div class="" *ngIf="userForm.get('address.city')?.touched">
                            <p class="text-danger" *ngIf="userForm.get('address.city')?.hasError('required')">This Field is required</p>
                        </div>
                    </div>
                
                </div>
              
                
        
                <button type="submit" class="btn btn-primary btn-sm me-3" >Submit</button>
                <button type="reset" class="btn btn-secondary btn-sm" [routerLink]="['/']">Cancel</button>
            </form>
        </div>
        <div class="col-5 mt-3 shadow-lg" *ngIf="isEditMode">
            <h3 class="text-light bg-success  p-2">Your Tasks</h3>
            <ul>
                <li *ngFor="let task of tasks">{{task.title}}-{{task.description}}</li>
            </ul>
        </div>
    </div>
 
</div>