<div class="container p-3 mb-5  rounded mt-5">
    <div class="p-3">
      <div class="row">
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Search user.." [(ngModel)]="Search">
        </div>
        <div class="col-3 offset-5 pt-1">
          <button type="button" class="btn btn-sm btn-dark fs-6"[routerLink]="['/Admin/user-form']">+ New User</button>
        </div>
      </div>
      <table class="table mt-3 custom-table">
        <thead>
          <tr class="fs-5">
            <td colspan="7" class="text-center text-white bg-primary">
            USER INFORMATION
            </td>
          </tr>
          <tr  class="fs-5">
            <th scope="col" class="border-primary-subtle">Id</th>
            <th scope="col" class="border-primary-subtle">Name</th>
            <th scope="col" class="border-primary-subtle">Email</th>
            <th scope="col" class="border-primary-subtle">Phone-no</th>      
            <th scope="col" class="border-primary-subtle">Address</th>      
            <th scope="col" class="border-primary-subtle">Tasks</th>      
            <th scope="col" class="border-primary-subtle">Action</th>      
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Users | userFilter : Search" class="fs-5 ">
              <td scope="row" class="border-left-right border-primary-subtle">{{item.id}}</td>
              <td scope="row" class="border-left-right border-primary-subtle">{{item.name}}</td>
              <td scope="row" class="border-left-right border-primary-subtle">{{item.email}}</td>
              <td scope="row" class="border-left-right border-primary-subtle">{{item.phoneNumber}}</td>
              <td scope="row" class="border-left-right border-primary-subtle">{{item.address?.addressLine1}} {{item.address?.addressLine2}} {{item.address?.city}}</td>
              <td scope="row" class="border-left-right border-primary-subtle">{{item.task.length}}</td>
              <td scope="row" class="border-left-right border-primary-subtle" class="d-flex"><button class="btn tableButton" ><i class="bi bi-pencil-square text-primary fs-4" [routerLink]="['/Admin/user-form/',item.id]" ></i></button><button class="btn tableButton" (click)="DeleteUser(item.id)"><i class="bi bi-x-lg text-danger fs-4"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
   
  </div>
  