<div class="container-fluid">
    <div class="row mt-5 pt-3">
        <div class="col-6 mt-5">
            <h1 style="font-size: 6rem;color: rgb(160, 209, 221);">Task <br> Manager</h1>       <br>
            <h3>Manage your tasks effortlessly and keep track of your progress. This is your hub for all things related to task management. </h3> <br> 
            <button class="btn btn-primary btn-lg me-4" (click)="ChangePath(1)" >Manage User</button>
            <button class="btn btn-warning btn-lg" (click)="ChangePath(2)" >Manage Task</button>
        </div>
        <div class="col-4 offset-">
            <img src="images/home-bg.webp" alt="" height="550px">
        </div>
    </div>
</div>